
@{
    ViewBag.Title = "Index";
}
<head>

</head>

<body>

    <div>
        <br />
        <p x-ms-format-detection="none">Please call Support at <b><u>801-555-1212</u></b>. Thank you!>
        <br />
        @Html.ActionLink("Send An Email", "Index", "Gmail")
    </div>

</body>


